<div class="mil-hidden-elements">
  <div class="mil-dodecahedron">
    <div></div><div></div><div></div><div></div><div></div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="mil-arrow">
    <path d="M14 5.34c-.26 0-.51.1-.71.3l-.08.08a1 1 0 0 0 0 1.42L17.07 11H4a1 1 0 1 0 0 2h13.07l-3.86 3.86a1 1 0 0 0 0 1.42l.08.08a1 1 0 0 0 1.42 0l5.65-5.65a1 1 0 0 0 0-1.42l-5.65-5.65a1 1 0 0 0-.71-.3z"></path>
  </svg>
  <svg width="250" viewBox="0 0 300 1404" fill="none" xmlns="http://www.w3.org/2000/svg" class="mil-lines">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M299 1H1v1402h298V1zM0 0v1404h300V0H0z"></path>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M150 0v1404h-1V0h1z"></path>
  </svg>
</div>
